<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10105105492744159176</string>
		<key>run_input_hash</key>
		<string>17260899008150405795</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>623680</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
