<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>1780085140528001213</string>
		<key>run_input_hash</key>
		<string>10610618411904416366</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2084363</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
