<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6566121833255440228</string>
		<key>run_input_hash</key>
		<string>6106309646428006243</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2056442</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
