<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>4261640416058318916</string>
		<key>run_input_hash</key>
		<string>3368967851950673113</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2081809</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
