<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11886052432502004059</string>
		<key>run_input_hash</key>
		<string>16396494517995504245</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1923839</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
