<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8335883370736450735</string>
		<key>run_input_hash</key>
		<string>10601172981693020865</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1942428</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
