<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4653755108311605172</string>
		<key>run_input_hash</key>
		<string>11547941014699243255</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3904094</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
