<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>374387172437800655</string>
		<key>run_input_hash</key>
		<string>12073778319673692201</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1935580</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
