<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>151339316845433284</string>
		<key>run_input_hash</key>
		<string>5070334670241701489</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2061561</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
