<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4579089382256607822</string>
		<key>run_input_hash</key>
		<string>14512051640393729354</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2820993</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
