<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17334648798280493279</string>
		<key>run_input_hash</key>
		<string>3262759386130047531</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1866596</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
