<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8257536727170914597</string>
		<key>run_input_hash</key>
		<string>8062627054384955008</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>641939</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
