<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>13236517726544493539</string>
		<key>run_input_hash</key>
		<string>591300970926117679</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2161336</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
