<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2726262268021267454</string>
		<key>run_input_hash</key>
		<string>14598048053650337518</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2066863</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
