<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>6703142526213319283</string>
		<key>run_input_hash</key>
		<string>4102435787621743445</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2111976</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
