<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13343186596221838751</string>
		<key>run_input_hash</key>
		<string>18357093937649746366</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2552819</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
