<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>5801878625090463229</string>
		<key>run_input_hash</key>
		<string>13042210294417567888</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2078888</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
