<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5239447176607824393</string>
		<key>run_input_hash</key>
		<string>2386366032366758064</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1915370</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
