<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10754535158052868451</string>
		<key>run_input_hash</key>
		<string>11286387202712429515</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1831627</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
