<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6764411060943258138</string>
		<key>run_input_hash</key>
		<string>521742835061664540</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1880714</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
