<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>745028008815177901</string>
		<key>run_input_hash</key>
		<string>9248884384754214436</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2530977</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
