<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>727817335705154675</string>
		<key>run_input_hash</key>
		<string>8132444738640002056</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>632490</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
