<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11950931372202876197</string>
		<key>run_input_hash</key>
		<string>5084297889418846716</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3243050</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
