<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>18368440374766736730</string>
		<key>run_input_hash</key>
		<string>13197908978412574701</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1921860</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
