<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16541133710842654286</string>
		<key>backend</key>
		<string>local</string>
		<key>run_input_hash</key>
		<string>1322120270045172302</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>954160</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
