<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>9925813362342990066</string>
		<key>run_input_hash</key>
		<string>12376477876193923325</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2190627</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
