<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5337117120430269746</string>
		<key>run_input_hash</key>
		<string>16118389215480788203</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>635964</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
