<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>2252491433071668231</string>
		<key>run_input_hash</key>
		<string>1470764735640556849</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2150824</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
