<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>18442519611792489813</string>
		<key>run_input_hash</key>
		<string>9596904545851839315</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>387462</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
