<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7493249529108292088</string>
		<key>run_input_hash</key>
		<string>13331947565634695611</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3784488</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
