<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4805604180962307106</string>
		<key>run_input_hash</key>
		<string>3986710522339447356</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3238078</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
