<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7384239874663840006</string>
		<key>run_input_hash</key>
		<string>11278455893890985439</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1956224</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
