<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15551629967991298138</string>
		<key>run_input_hash</key>
		<string>11689542126426645535</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1908389</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
