<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>4757483368430067607</string>
		<key>run_input_hash</key>
		<string>2678138865729545906</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2348362</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
