<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>8986852429422554881</string>
		<key>run_input_hash</key>
		<string>3987471492088924574</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2235898</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
