<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17900268637905425410</string>
		<key>run_input_hash</key>
		<string>7451882372960015405</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1948302</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
