<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>266720790412804782</string>
		<key>run_input_hash</key>
		<string>14854852460687034119</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>525283</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
