<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17998373086145220883</string>
		<key>run_input_hash</key>
		<string>6791723611601709515</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2028024</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
