<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>18400871073643894666</string>
		<key>run_input_hash</key>
		<string>17926003643329081700</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1849971</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
