<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8537904681249506673</string>
		<key>run_input_hash</key>
		<string>7344515849992944039</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1846070</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
