<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4105561385679460266</string>
		<key>run_input_hash</key>
		<string>12731207859478820333</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3794755</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
