<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13650028130140675757</string>
		<key>run_input_hash</key>
		<string>10424865345877781484</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>610783</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
