<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8641135572130908137</string>
		<key>run_input_hash</key>
		<string>14280451183005935970</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1857046</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
