<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8604600499214440558</string>
		<key>run_input_hash</key>
		<string>17214215821028810692</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1887478</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
