<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15889673779299385841</string>
		<key>run_input_hash</key>
		<string>6888327394993154199</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1817558</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
