<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4227407965868060965</string>
		<key>backend</key>
		<string>local</string>
		<key>run_input_hash</key>
		<string>16127942204905858536</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>955778</string>
		<key>_status</key>
		<string>1</string>
	</dict>
</plist>
