<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>2240814489826970740</string>
		<key>run_input_hash</key>
		<string>18361385329155293095</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2246304</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
