<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>622007645070695257</string>
		<key>run_input_hash</key>
		<string>10505015095524212276</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1850800</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
