<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>18223327681600113057</string>
		<key>run_input_hash</key>
		<string>4431514882633196551</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2403519</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
