<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15144040089851827565</string>
		<key>run_input_hash</key>
		<string>12972547416423516079</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1883640</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
