<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4283286560366351510</string>
		<key>run_input_hash</key>
		<string>8013171222944573321</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2429722</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
