<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>16682717214990601707</string>
		<key>run_input_hash</key>
		<string>14354651335072356023</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2061009</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
