<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>14320243043138237043</string>
		<key>run_input_hash</key>
		<string>12950625487660727670</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2411467</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
