<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14172962401186625535</string>
		<key>run_input_hash</key>
		<string>13642350948950785389</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2513369</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
