<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8311453989135765026</string>
		<key>run_input_hash</key>
		<string>10014885015814988093</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2402376</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
