<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12554760648808546749</string>
		<key>run_input_hash</key>
		<string>16705011058575516350</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3849917</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
