<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16819383358975895907</string>
		<key>run_input_hash</key>
		<string>17313720044298177505</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1839401</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
