<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11619906678969548171</string>
		<key>run_input_hash</key>
		<string>2349016861809880782</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>609123</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
