<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12746565664452423189</string>
		<key>run_input_hash</key>
		<string>12522827130000733943</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1825492</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
