<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5083535634788201547</string>
		<key>run_input_hash</key>
		<string>15800271163825499529</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>632886</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
