<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2912588819983341348</string>
		<key>run_input_hash</key>
		<string>5836926901985854390</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2800018</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
