<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10741251036959781667</string>
		<key>run_input_hash</key>
		<string>7591698213426312359</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1817661</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
