<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>3509643074436721777</string>
		<key>run_input_hash</key>
		<string>14898561406931640596</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2310017</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
