<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>990169134547469527</string>
		<key>backend</key>
		<string>local</string>
		<key>run_input_hash</key>
		<string>6206358241486630580</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>968430</string>
		<key>_status</key>
		<string>1</string>
	</dict>
</plist>
