<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>10389833307296261136</string>
		<key>run_input_hash</key>
		<string>7684699053275403265</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2347566</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
