<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14127182343182098770</string>
		<key>run_input_hash</key>
		<string>4068250583634888917</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2071751</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
