<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3423055870373348089</string>
		<key>run_input_hash</key>
		<string>4126629846481641735</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2056736</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
