<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1094127744203827517</string>
		<key>backend</key>
		<string>local</string>
		<key>run_input_hash</key>
		<string>4006353898968519815</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>953822</string>
		<key>_status</key>
		<string>1</string>
	</dict>
</plist>
