<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11154640661485868905</string>
		<key>run_input_hash</key>
		<string>345390541819197003</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1942939</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
