<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11850687676230552734</string>
		<key>run_input_hash</key>
		<string>2482698830579650945</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1852466</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
