<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8042126220109738157</string>
		<key>run_input_hash</key>
		<string>15702040929372128070</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2066139</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
