<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2891667418005042654</string>
		<key>run_input_hash</key>
		<string>3122323703143331643</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1823758</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
