<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8076740294681963255</string>
		<key>run_input_hash</key>
		<string>3655968668064360777</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1947345</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
