<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11559098858171113055</string>
		<key>run_input_hash</key>
		<string>14415460233527398203</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>786463</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
