<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14461177215721126596</string>
		<key>run_input_hash</key>
		<string>5938425242622624380</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1851378</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
