<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8051600745188563065</string>
		<key>run_input_hash</key>
		<string>7815211904472734128</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2820104</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
