<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2734336943552404450</string>
		<key>run_input_hash</key>
		<string>5253353748898996912</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>396622</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
