<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>14043485844037501043</string>
		<key>run_input_hash</key>
		<string>3011187620205566101</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2495171</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
