<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9048034777168816354</string>
		<key>run_input_hash</key>
		<string>15609199286867764208</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1841981</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
