<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8016620223527836748</string>
		<key>run_input_hash</key>
		<string>13891129738598290787</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3673674</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
