<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5038128311634671510</string>
		<key>run_input_hash</key>
		<string>14598891645922010305</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3243901</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
