<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>1480404533050340894</string>
		<key>run_input_hash</key>
		<string>12714441724970650447</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2430317</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
