<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16375508020491653152</string>
		<key>run_input_hash</key>
		<string>10105541311815508938</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3333983</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
