<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>5292566785518059008</string>
		<key>run_input_hash</key>
		<string>1364816969886613617</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2166042</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
