<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17182451327380681941</string>
		<key>run_input_hash</key>
		<string>1352844683896883273</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1927340</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
