<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>13274596503938380269</string>
		<key>run_input_hash</key>
		<string>1625610850158013284</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2534431</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
