<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4397813273293359120</string>
		<key>run_input_hash</key>
		<string>17792575872761408189</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1945171</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
