<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17477958656409442488</string>
		<key>run_input_hash</key>
		<string>7790928110418273206</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3784688</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
