<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6016285086561047692</string>
		<key>run_input_hash</key>
		<string>17538675267408319631</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>620058</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
