<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>7974867768144450552</string>
		<key>run_input_hash</key>
		<string>13049289721129404415</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2229150</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
