<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>9373894341907840248</string>
		<key>run_input_hash</key>
		<string>8628099695771783449</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2396689</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
