<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>1103293705800674654</string>
		<key>run_input_hash</key>
		<string>12690620172338659200</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2327595</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
