<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>2666052427197938287</string>
		<key>run_input_hash</key>
		<string>17981673471531442030</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2205418</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
