<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17573285053900407275</string>
		<key>run_input_hash</key>
		<string>3117713990261828031</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1935754</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
