<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12947569401623487528</string>
		<key>run_input_hash</key>
		<string>10595296093181596023</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1842810</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
