<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2085769978675807961</string>
		<key>run_input_hash</key>
		<string>12103315538581125275</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1849672</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
