<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12344279281406668712</string>
		<key>run_input_hash</key>
		<string>16678320663020110700</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1937057</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
