<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2207193208324894850</string>
		<key>run_input_hash</key>
		<string>12927737341471347346</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3667373</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
