<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11642911670670121234</string>
		<key>run_input_hash</key>
		<string>15575174633801135157</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2405544</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
