<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>5849406521344842977</string>
		<key>run_input_hash</key>
		<string>7903865665195092978</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2040466</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
