<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>9741667064245285802</string>
		<key>run_input_hash</key>
		<string>13158917318332955215</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2019673</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
