<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14278282859814765058</string>
		<key>run_input_hash</key>
		<string>1355732903768864819</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2982209</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
