<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>17312156039377516238</string>
		<key>run_input_hash</key>
		<string>3486871229696682318</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2329386</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
