<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>7203670529594699165</string>
		<key>run_input_hash</key>
		<string>9466227729565369789</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2309376</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
