<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5147262981110126116</string>
		<key>run_input_hash</key>
		<string>7383267848068095410</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3809546</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
