<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14109842012867437083</string>
		<key>run_input_hash</key>
		<string>8890627799866229562</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2010288</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
