<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>15996782368758597352</string>
		<key>run_input_hash</key>
		<string>12120823813438618918</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2536005</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
