<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>3242052107485524735</string>
		<key>run_input_hash</key>
		<string>10677672763969791412</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2236996</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
