<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8881778057408531321</string>
		<key>run_input_hash</key>
		<string>17877637950927538651</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2400427</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
