<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>691399543493312655</string>
		<key>run_input_hash</key>
		<string>18279988408967557984</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2077750</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
