<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>11750888425900173311</string>
		<key>run_input_hash</key>
		<string>8259024238104424360</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2160270</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
