<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9239762160216555652</string>
		<key>run_input_hash</key>
		<string>8740244753203605821</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1854108</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
