<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>11151983799434131387</string>
		<key>run_input_hash</key>
		<string>6191641697543492881</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2318514</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
