<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>13914480066382395078</string>
		<key>run_input_hash</key>
		<string>8948756905950913126</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2313224</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
