<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14944303469879080807</string>
		<key>run_input_hash</key>
		<string>3295609776205149211</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2452919</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
