<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14235128233629151832</string>
		<key>run_input_hash</key>
		<string>16907579654865527050</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2014341</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
