<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>16051668435376356507</string>
		<key>run_input_hash</key>
		<string>4219188630309230398</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2439685</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
