<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17025012705876925270</string>
		<key>run_input_hash</key>
		<string>17140608779440559538</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1864661</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
