<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1780837766593744618</string>
		<key>run_input_hash</key>
		<string>6085523526003504961</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>496239</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
