<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13820472510015749358</string>
		<key>run_input_hash</key>
		<string>14808046918669438750</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3708090</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
