<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2345184659172848485</string>
		<key>run_input_hash</key>
		<string>13296332479598218840</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2324376</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
