<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4845112323051320528</string>
		<key>run_input_hash</key>
		<string>13453676210530133393</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1822594</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
