<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13394039088655693868</string>
		<key>run_input_hash</key>
		<string>6670121440432979743</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>602187</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
