<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2991898639874022296</string>
		<key>run_input_hash</key>
		<string>17514356275223647396</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1862589</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
