<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15407760485845690741</string>
		<key>run_input_hash</key>
		<string>13329671772069409828</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1861196</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
