<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5161215446855828228</string>
		<key>run_input_hash</key>
		<string>17146402133562272898</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2047556</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
