<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12922712698404875091</string>
		<key>run_input_hash</key>
		<string>11131617965819431880</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>623936</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
