<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>15108792887282819121</string>
		<key>run_input_hash</key>
		<string>8586060513469238803</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2417617</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
