<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>3776542831501152970</string>
		<key>run_input_hash</key>
		<string>9921317779563990109</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2163231</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
