<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>457979911235076626</string>
		<key>run_input_hash</key>
		<string>6425506649619753974</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2983079</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
