<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8586637174408334958</string>
		<key>run_input_hash</key>
		<string>580380274795202462</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2526750</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
