<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15849549394972477670</string>
		<key>run_input_hash</key>
		<string>17268730566495412329</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1875779</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
