<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>6636432723313006075</string>
		<key>run_input_hash</key>
		<string>2556610486186730253</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2542055</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
