<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14108644449179078105</string>
		<key>run_input_hash</key>
		<string>10646767792199543750</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2098769</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
