<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>7878180892874238283</string>
		<key>run_input_hash</key>
		<string>5824883967333080034</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2492070</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
