<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5595634734396884500</string>
		<key>run_input_hash</key>
		<string>322133214842268733</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2688338</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
