<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7386146451526944199</string>
		<key>run_input_hash</key>
		<string>9051786967122553461</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2013345</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
