<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>8024149714370248742</string>
		<key>run_input_hash</key>
		<string>4081193368859032237</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2074506</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
