<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17357302342558960826</string>
		<key>run_input_hash</key>
		<string>4585194700858882633</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3043794</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
