<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6225722211110604244</string>
		<key>run_input_hash</key>
		<string>7590207155419201447</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3850233</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
