<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8227330399369217750</string>
		<key>run_input_hash</key>
		<string>8059021826284254166</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2403111</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
