<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>7376201613605190391</string>
		<key>run_input_hash</key>
		<string>275552444099695098</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2310564</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
