<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>13167723736049930239</string>
		<key>run_input_hash</key>
		<string>15267099753170900051</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2062772</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
