<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17811145696567318073</string>
		<key>backend</key>
		<string>local</string>
		<key>run_input_hash</key>
		<string>16952771060492303231</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>954006</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
