<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>5771705450068181989</string>
		<key>run_input_hash</key>
		<string>17115729551948986706</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2040139</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
