<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13167302621178214176</string>
		<key>run_input_hash</key>
		<string>1681006476931507874</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2097181</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
