<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2083353737624884416</string>
		<key>run_input_hash</key>
		<string>1731646244355656920</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2335512</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
