<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16194082396134867935</string>
		<key>run_input_hash</key>
		<string>2692567125350992154</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1821268</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
