<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7184276113082407597</string>
		<key>run_input_hash</key>
		<string>1648225003398351056</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1822722</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
