<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>5095118277169187371</string>
		<key>run_input_hash</key>
		<string>6952419857502245638</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2434842</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
