<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>11932345115488629102</string>
		<key>run_input_hash</key>
		<string>13779403105182733975</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2081707</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
