<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4109029041111735558</string>
		<key>run_input_hash</key>
		<string>4876981658679763275</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2504553</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
