<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7335878617209806743</string>
		<key>run_input_hash</key>
		<string>3968661736259783355</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2400646</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
